# folders
node_modules/
dist/
tmp/
production/conf.d
production/certbot
production/nginx/sites-enabled
.database

# application files
.env
ormconfig.json

# yarn files
yarn-error.log

# npm files
package-lock.json