server {
  listen 80;
  listen [::]:80;

  server_name ${SERVER_NAME};

  location /.well-known/acme-challenge {
    root /etc/nginx/acme_challenge/;
  }

  set $ngnix_env ${NGINX_ENV};

  location / {
    if ($ngnix_env = production) {
      return 301 https://$host$uri;
    }

    proxy_pass http://app:8080;
  }
}
